.wrapper {
  display: inline-grid;
  width: 1759px;
  height: 961px;
  grid-template-columns: 820px 1fr 1fr;
  grid-template-rows: 112px 112px 112px 236px 327px;
  /* grid-template-columns: 820px 451px 451px; */
  /* grid-auto-rows: 200px; */
  /*   grid-template-columns 和 grid-template-rows 属性来定义网格中的行和列 */
  /* grid-template-columns:200px; */
  /* padding:79px */
  grid-gap: 10px;
}

* {
  box-sizing: border-box;
  /* width 和 height 属性包括内容，内边距和边框，但不包括外边距。 */
}

.wrapper>div {
  border: 1px solid rgba(69, 116, 214, 1);
  color: #ABCBFF;
  display: inline-block;
	background: linear-gradient(rgba(0, 252, 249, 1), rgba(0, 252, 249, 1)) left top,
		linear-gradient(rgba(0, 252, 249, 1), rgba(0, 252, 249, 1)) left top,
		linear-gradient(rgba(0, 252, 249, 1), rgba(0, 252, 249, 1)) right top,
		linear-gradient(rgba(0, 252, 249, 1), rgba(0, 252, 249, 1)) right top,
		linear-gradient(rgba(0, 252, 249, 1), rgba(0, 252, 249, 1)) left bottom,
		linear-gradient(rgba(0, 252, 249, 1), rgba(0, 252, 249, 1)) left bottom,
		linear-gradient(rgba(0, 252, 249, 1), rgba(0, 252, 249, 1)) right bottom,
		linear-gradient(rgba(0, 252, 249, 1), rgba(0, 252, 249, 1)) right bottom;
	background-repeat: no-repeat;
	background-size: 1px 10px, 10px 1px;
}

.box0 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  /* grid-row-end: 3;  */
  height: 294px;
}

.box1,
.box3,
.box6 {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 5px
}

.box2,
.box4,
.box7 {
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 5px
}

.box5 {
  grid-column-start: 1;
  grid-column-end: 2;
  /* grid-row-start: 3;  */
  grid-row-end: 5;
  display: flex;
  justify-content: space-between;
  width: 820px;
  height: 294px;
  position: absolute;
  top: 428px;
}

.box8 {
  grid-column-start: 2;
  grid-column-end: 4;
  /* width:920px;
height:236px; */
}

.box9 {
  grid-column-start: 1;
  grid-column-end: 4;
  /* width:1759px;
height:327px; */
}

#project {
  width: 100%;
  height: 280px;
}

div>header {
  width: 100%;
  height: 47px;
  line-height: 47px;
  background: rgba(11, 26, 82, .4);
  /* opacity: 0.8; */
  font-size: 24px;
  color: rgba(171, 203, 255, 1);
  /* line-height: 16px; */
  text-align: center;
}

.top1 {
  position: absolute;
  font-size:24px;
  color:rgba(171,203,255,1);
  left:120px;
}

#mychart_map {
  width: 820px;
  height: 294px;
}
#type1,
#type2 {
  width: 274px;
  height: 230px;
  flex-grow: 1;
}
 
.table-bordered, 
.table-bordered>tbody>tr>td, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>td, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>thead>tr>th {
  border: 1px solid rgba(69, 116, 214, 1);
}
 
.box5 table:nth-child(2) {
  margin-left: -6px;
}
.box3 div {
  height: 50%;
}

p {
  margin: 0;
}

div {
  font-size: 16px;
  text-align: left;

}

.number {
  font-size: 28px;
  text-align: center;
  margin: 0
}

.flex,
.flex3 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5px;
}

.flex2 {
  display: flex;
  justify-content: space-between;
  /* padding-top: 10px; */
}

#table {
  width: 1850px;
  margin-bottom: 0;
}

.table>thead>tr>th,
.table>thead>tr>td {
  border-width: 1px;
}

#table td,
#table th {
  width: 140px;
  position: relative;

}

.table>tbody>tr>td,
.table-bordered>tbody>tr>th {
  padding: 4px;
}

.box5 table {
  display: inline-block;
  height: 236px;
  width: 130px;
}

.box5 div {
  display: inline-block;
}

.box5 th {

  background: rgba(69, 116, 214, 0.5);

}

th,
td {
  text-align: center;
}

.first::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 121px;
  top: 0;
  right: 0;
  background-color: rgba(69, 116, 214, 1);
  display: block;
  transform: rotate(52deg);
  transform-origin: top;
}
 
.title1 {
  position: absolute;
  top: 3px;
  right: 50px;
}
.title2 {
  position: absolute;
  top: 51px;
    right: 3px;
}

.box5 table:nth-child(1) td,
.box5 table:nth-child(1) th {
  height: 40px;
  width: 130px;
}

.box5 table:nth-child(2) td,
.box5 table:nth-child(2) th {
  height: 32px;
  width: 130px;
}
.box5 table:nth-child(2) th {
  height: 40px;
 }
/* 滚动条的宽度 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

/* 滚动条的滑块 */
::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 6px;
}



body {
  background-image: url(../imgs/bg.png)
}
.return {
  width: 1.08rem;
  height: 0.36rem;
  background: rgba(11, 26, 82, 0.24);
  border: 1px solid rgba(69, 116, 214, 1);
  box-shadow: 0rem 0rem 0.04rem 0rem rgba(53, 128, 255, 1);
  font-size: 0.18rem;
  font-family: SourceHanSansCN-Regular;
  font-weight: 400;
  color: rgba(171, 203, 255, 1);
  line-height: 0.36rem;
  text-align: center;
  float: left;
  margin-top: 0.12rem;
  margin-left: 0.81rem;
  cursor: pointer;
}
.wrapper {
  margin-left: 0.23rem;
  margin-top: 0.57rem;
}

/* 左右箭头 */
.left_arrow {
  background: url("../../../imgs/left_arrow.png") no-repeat;
  width: 0.34rem;
  height: 0.63rem;
  float: left;
  margin-top: 4.47rem;
  margin-left: 0.24rem;
  background-size: 100% 100%;
}

.left_arrow_active {
  background: url("../../../imgs/left_arrow_active.png") no-repeat;
  width: 0.34rem;
  height: 0.63rem;
  float: left;
  margin-top: 4.47rem;
  margin-left: 0.24rem;
  background-size: 100% 100%;
}

.right_arrow {
  background: url("../../../imgs/right_arrow.png") no-repeat;
  width: 0.34rem;
  height: 0.63rem;
  float: right;
  margin-top: 4.47rem;
  margin-right: 0.24rem;
  background-size: 100% 100%;
}

.right_arrow_active {
  background: url("../../../imgs/right_arrow_active.png") no-repeat;
  width: 0.34rem;
  height: 0.63rem;
  float: right;
  margin-top: 4.47rem;
  margin-right: 0.24rem;
  background-size: 100% 100%;
}