.container {
    width: 19.2rem !important;
    background: rgba(0, 0, 0, .58);
    height: 10.8rem;
    position: fixed;
    top: 0;
    left: 0;
}

.content {
    width: 12.8rem;
    height: 8.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -6.4rem;
    margin-top: -4.35rem;
    text-align: center;
    background: rgba(14, 63, 255, 0.24);
    border: .02rem solid rgba(69, 116, 214, 1);
}

.content-title {
    height: 0.8rem;
    background: rgba(11, 26, 82, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.24rem;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: rgba(171, 203, 255, 1);
}

.content-title-text {}

.del {
    position: absolute;
    right: 0.28rem;
    width: .21rem;
    height: .21rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.del img {
    width: .21rem;
    height: .21rem;
    display: block;
}

.content-form {
    width: 11.66rem;
    min-height: 4.86rem;
    background: rgba(11, 26, 82);
    opacity: 0.8;
    margin-top: 0.52rem;
    margin-left: 0.57rem;
    font-size: 0.16rem;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: rgba(254, 254, 254, 1);
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.content-schedule {
    width: 11.66rem;
    height: 2rem;
    background: rgba(69, 116, 214);
    opacity: 0.8;
    border: .02rem solid rgba(60, 110, 218, .8);
    margin: 0.1rem auto;
    position: relative;
}

.schedule-top {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.18rem;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.mr10 {
    margin-right: .05rem;
}

.pd6 {
    padding: .06rem;
}

.schedule-top-tip {
    position: absolute;
    top: .1rem;
    right: 0.65rem;
    font-weight: 400;
    display: flex;
}

.schedule-top-tip>div {
    margin-left: .2rem;
}

.schedule-top-tip-s {
    width: .1rem;
    height: .1rem;
    border: .01rem solid rgba(255, 255, 255, 1);
    border-radius: 50%;
}

.schedule-top-tip-s i {
    width: .04rem;
    height: .04rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    padding: 0 !important;
    margin: 0 !important;
    display: block !important;
}

.color-border-w {
    border-color: rgba(255, 255, 255, 1) !important;
}

.color-border-b {
    border-color: rgba(0, 252, 249, 1) !important;
}

.color-border-y {
    border-color: rgba(243, 152, 0, 1) !important;
}

.color-b-w {
    background-color: rgba(255, 255, 255, 1) !important;
}

.color-b-b {
    background-color: rgba(0, 252, 249, 1) !important;
}

.color-b-y {
    background-color: rgba(243, 152, 0, 1) !important;
}

.flex-m {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-align {
    display: flex;
    align-items: center;
}

/* 进度 */

.schedule-jd {
    height: 1.6rem;
    margin-top: .06rem;
}

.line {
    width: 1.38rem;
    background: rgba(0, 252, 249, 1);
    border-top: .02rem solid rgba(0, 252, 249, 1);
}

.origin {
    position: relative;
}

.origin-title {
    position: absolute;
    bottom: .20rem;
    left: -.36rem;
    width: 1.2rem;
    font-size: 0.16rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: rgba(254, 254, 254, 1);
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.origin-date {
    position: absolute;
    top: .20rem;
    left: -.14rem;
    width: .56rem;
    font-size: 0.16rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: rgba(254, 254, 254, 1);
}

.done-text {
    font-size: .24rem;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: rgba(0, 252, 249, 1);
    text-shadow: 0rem .05rem .07rem rgba(3, 20, 89, 1);
}

.content .done-box {
    transform: scale(1.5);
    box-shadow: 0rem 0rem .07rem rgba(0, 252, 249, 1);
}

.person {
    position: absolute;
    top: 0rem;
    left: -1.5rem;
}

.file {
    margin: .3rem .3rem 0 .3rem;
}

.file-name {
    font-size: .16rem;
    font-family: SourceHanSansCN-Medium;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
    margin-top: 0.05rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.file-icon {}

.file-icon img {
    width: 0.9rem;
    height: 0.74rem;
    /* background: linear-gradient(-26deg, rgba(148, 255, 254, 0.72), rgba(69, 116, 214, 0.72)); */
    display: block;
    padding: 0;
    margin: 0;
}

.flex-warp {
    display: flex;
    flex-wrap: wrap;
}

.height-ap {
    height: 3.03rem !important;
}